/.kile/
/**/*.kilepr
/**/*.aux
/**/*.txt
/**/*.log
/**/*.synctex
/**/*.synctex.gz
/**/*.kate-swp
/**/*.xml
/**/*.iml
/**/*.fls
/**/*.fdb_latexmk

/**/Main*.tex
/**/Main*.pdf
/**/Temp*.tex
/**/Temp*.pdf

/**/**.toc
/**/**.snm
/**/**.out
/**/**.nav
