/.kile/
/**/*.kilepr
/**/*.aux
/**/*.kate-swp
/**/*.xml
/**/*.iml
/**/*.fls
/**/*.fdb_latexmk

/**/Main*.tex
/**/Main*.pdf
/**/Temp*.tex
/**/Temp*.pdf

/**/**.toc
/**/**.snm
/**/**.out
/**/**.nav

/**/*.log
/**/*.synctex
/**/*.synctex(busy)
/**/*.synctex.gz
/**/**.table
/**/**.gnuplot